.workexperience {
  font: 24px;
  font-weight: bold;
  color: white;
  height: 250px;
  width: 100%;
  margin-top: 10px;
}

.subtitle {
  font-size: 36px;
  font-weight: bold;
  color: white;
  @media (max-width: 1559px) {
    font-size: 28px;
  }
}

.pos {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: lightblue;
}

.compInf {
  display: flex;
  margin-bottom: 10px;
  gap: 5px;
}

.textSz,
.compInf {
  @media (max-width: 1559px) {
    font-size: 14px;
  }
}

.container {
  display: flex;
}

.exp1,
.exp2 {
  width: 50%;
}

.exp2 {
  margin-left: 10px;
}
